/* 
* author: chenliuyi
* date: 2017/01/25
*/
body,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,img,th,td,a{ margin:0; padding:0;}
table{ border-collapse:collapse;border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal;font-weight:normal;}
input,select,img{ vertical-align:middle;}
input,select{ outline:none;}
ul,ol{ list-style:none; display:block;}
li {list-style-type: none;}
caption,th{ text-align:left;}
legend{ display:none;}
h1,h2,h3,h4,h5,h6{ font-size:100%;}
a{ text-decoration:none; cursor:pointer;}
a:active,a:focus{ -moz-outline:none; ie-dummy:expression(this.hideFoucus=true);}
q:before, q:after{ content:"";}

/*common*/
.fl{ float: left;}
.fr{ float: right;}
.fl,.fr{ *display: inline; *zoom:1;}
/*清除浮动*/
.clearfix:after{ content: ""; height: 0; visibility: hidden; display: block; clear: both;}
.clearfix{ zoom:1;}
.clear{ clear:both; height: 0;overflow: hidden;}
.hidden{ display:none;}
.block{ display:block;}

body {
	background: #fff;
	font-size: 14px;
	font-family: 'Microsoft Yahei';
	color: #333;
}
.wrap {
	border-top: 4px solid #000;
}
.inner {
	width: 900px;
	margin: 30px auto 15px;
	border: 1px solid #eaeaea;
	box-shadow: 0 0 10px #eee;
}
.header {
	padding: 20px 0 15px 0;
	text-align: center;
}
.header .logo {
	display: block;
}
.header .nav {
	margin-top: 30px;
}
.header .nav-item {
	display: inline-block;;
	margin: 0 20px;
	padding: 0 2px 5px 2px;
	border-bottom: 2px solid transparent;
	color: #333;
}
.header .nav-item:hover,
.header .nav-item.active {
	border-color: #333;
}
.footer {
	text-align: center;
}
.container {
	min-height: 600px;
	background: #f8f8f8;
}
.default {
	position: relative;
	top: 190px;
	height: 30px;
	padding-top: 190px;
	background: url(../../images/default.png) no-repeat center top;
	text-align: center;
	color: #666;
}