/* 
* author: c.luyee
* date: 2016/12/30
*/
body{
	background: #eee;
}
.container{
	position: relative;
	padding-left: 400px;
}
.side{
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
	min-height: 950px;
	border-left: 5px solid #3a4362;
	background: #94b6c2 url('../images/logoText.png') no-repeat 30px 50px;
}
.side .avatar{
	position: absolute;
	top: 60px;
	right: -60px;
	width: 130px;
	height: 130px;
	padding: 5px;
	background: #fff;
	border-radius: 50%;
}
.side .avatar img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.side .text{
	padding-top: 100px;
	text-align: center;
	color: #333;
}
.side .menu{
	padding: 250px 20px 0 0;
	font-size: 16px;
	line-height: 40px;
}
.side .link{
	display: block;
	width: 35px;
	margin: 0 auto;
	border:2px solid transparent;
	border-left: none;
	border-right: none;
	text-align: center;
	color: #fff;
	transition: all .6s ease;
}
.side .link:hover{
	padding: 0 30px;
	border-color: #fff;
}
.side .copyright{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 40px;
	color: #222;
}
.main{
	padding: 230px 0 0 200px;
	background: url('../images/blog.png') no-repeat 90px 85px;
}
.main .item{
	overflow: hidden;
	margin-bottom: 60px;
}
.main .square{
	display: inline-block;
	position: relative;
	width: 110px;
	height: 110px;
	background: #fff;
	color: #000;
	text-align: center;
	line-height: 60px;
	font-size: 18px;
}
.main .sq-golden:after,
.main .sq-gray:after,
.main .sq-black:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
}
.main .sq-golden:after{
	background: #201e2d;
}
.main .sq-gray:after{
	background: #a9947e;
}
.main .sq-black:after{
	background: #878683;
}
.main .txt{
	display: inline-block;
	position: relative;
	top: 15px;
	width: 250px;
	margin-left: 30px;
	border-bottom: 2px solid #333;
	font-size: 20px;
	line-height: 60px;
	color: #333;
	text-indent: 10px;
}
.main .txt:after{
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	height: 2px;
	background: #fff;
	transition: all .4s ease;
}
.main .txt:hover:after{
	width: 100%;
}