<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>旅行 - luyee的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/style/common/common.css" />
    <link rel="stylesheet" href="../../static/style/modules/travel/index.css" />
</head>
<body>
    <div class="wrap">
        <div class="inner">
            <div  class="header">
                <a class="logo" href="/"><img src="../../static/images/logo.png" alt="logo" /></a>
                <div class="nav">
                    <a class="nav-item" href="../../index.html">主页</a>
                    <a class="nav-item" href="../frontend/index.html">前端</a>
                    <a class="nav-item" href="../essay/index.html">随笔</a>
                    <a class="nav-item active" href="javascript:;">旅行</a>
                    <a class="nav-item" href="../about/index.html">关于</a>
                    <a class="nav-item" href="../comment/index.html" target="_blank">留言板</a>
                </div>
            </div>
            <div id="content" class="container">
                <template v-if="nodata">
                    <div class="default">~博主掉线了~，暂无数据</div>
                </template>
                <template v-else>
                    <div id="travel" class="mod-travel">
                        <div class="box" :class="[toSwitch? 'to-switch':'']">
                            <div class="picture-box">
                                <p class="switch switch-right"><a name="left" @click="switchTab">攻略干货</a>&gt;</p>
                                <ul class="list">
                                    <template v-for="item in piclist">
                                    <li class="item"><a :href="item.link+'&name='+item.name">
                                        <span class="pic">
                                            <img v-if="item.src" :src="item.src" alt="图册封面">
                                        </span>
                                        <span class="name">{{ item.name }}</span>
                                        <span class="time">
                                            {{ item.time }}
                                        </span>
                                    </a></li>
                                    </template>
                                </ul>
                            </div>
                            <div class="strategy-box">
                                <p class="switch">&lt;<a name="right" @click="switchTab">照片欣赏</a></p>
                                <h2>自由行旅游攻略：（仅供参考）</h2>
                                <ul class="sgy-list">
                                    <li v-for="list in sgylist" class="sgy-item"><a :href="list.link+'?name='+list.title">{{ list.title }}攻略</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <div class="footer">
            <p class="copyright">Copyright© cluyee.github.io</p>
        </div>
    </div>

    <script src="../../static/script/lib/vue.js"></script>
    <script>
        var index = new Vue({
            el:'#content',
            data:{
                nodata:false,
                toSwitch:false,
                moveToRight:false,
                sgylist:[
                    { title:'实行之旅 - 苏州', link:'strategy.html'},
                    { title:'都市之行 - 上海', link:'strategy.html'},
                    { title:'实行之旅 - 苏州', link:'strategy.html'},
                    { title:'毕业之旅 - 云南', link:'strategy.html'},
                    { title:'一路向南 - 绍兴', link:'strategy.html'},
                    { title:'购物之行 - 香港', link:'strategy.html'}
                ],
                piclist:[
                    { name:'实行之旅 - 苏州', time:'2015-09-10', src:'../../static/images/pic/suzhou.jpg', link:'picture.html?type=1'},
                    { name:'都市之行 - 上海', time:'2015-09-20', src:'../../static/images/pic/shanghai.jpg', link:'picture.html?type=1'},
                    { name:'一路向南 - 绍兴', time:'2015-09-24', src:'', link:'picture.html?type=1'},
                    { name:'毕业之旅 - 云南', time:'2015-06-20', src:'../../static/images/pic/yunnan.jpg', link:'picture.html?type=1'},
                    { name:'购物之行 - 香港', time:'2016-01-10', src:'../../static/images/pic/xianggang.jpg', link:'picture.html?type=1'}
                ]
            },
            methods:{
                isSwitch: function(){
                    return false;
                },
                switchTab: function(event){
                    var name = event.target.name;
                    this.toSwitch = name=='left'? true:false;
                }
            }
        });
    </script> 
</body>
</html>
